@media (max-width: 480px) {
/*moviles*/

body {
  margin: 1px;
}

p {
  font-family: monospace;
}

main {
  background-color: #F5D0DA;
  background-size: 50% 50%;
  overflow-wrap: break-word;
}

.cabecera {
  background-color: #028D86;
  padding-left: 20%;
  padding-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.contenedor {
  background-size: 50% 50%;
  overflow-wrap: break-word;
}

#article {
  display: table;
  background-size: 50% 50%;
  overflow-wrap: break-word;
}

.celda1 {
  padding-left: 10px;
  padding-right: 80px;
  display: table-column;
}

.lista {
  padding-left: 20px;
  padding-right: 100px;
  display: table-column;
}

.fieldset {
  background-size: 50% 50%;
  overflow-wrap: break-word;
  background-color: #DEF3F2;
  border-color: black;
  margin-left: 1%;
  margin-right: 0%;
  margin-top: 7%;
  margin-bottom: 6%;
  border-radius: 5%;
  box-shadow: 5px 5px 10px #000;
}

.caja1 {
  background-color: #109790;
  color: white;
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}

footer div.copyright {
  display: block;
  background-color: #547270;
}

footer div.text {
text-align: right;
color: white;
}

}

@media (min-width: 480px) {
/*ordenadores*/
body {
  margin: 1px;
}

p {
  font-family: cursive;
}

main {
  background-color: #CAF2F0;
  background-size: 50% 50%;
  overflow-wrap: break-word;
}

.cabecera {
  background-color: #028D86;
  padding-left: 20%;
  padding-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.contenedor {
  background-size: 50% 50%;
  overflow-wrap: break-word;
}

#article {
  display: table;
  background-size: 50% 50%;
  overflow-wrap: break-word;
}

.celda1 {
  padding-left: 10px;
  padding-right: 80px;
  display: table-cell;
}

.lista {
  padding-left: 20px;
  padding-right: 100px;
  display: table-cell;
}

.fieldset {
  background-size: 50% 50%;
  overflow-wrap: break-word;
  background-color: #DEF3F2;
  border-color: black;
  margin-left: 1%;
  margin-right: 0%;
  margin-top: 7%;
  margin-bottom: 6%;
  border-radius: 5%;
  box-shadow: 5px 5px 10px #000;
}

.caja1 {
  background-color: #109790;
  color: white;
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}

footer div.copyright {
  display: block;
  background-color: #547270;
}

footer div.text {
text-align: right;
color: white;
}

}
